* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.main {
  width: 100%;
  height: 109vh;
  background-color: blue;
  background-image: url(download.jpeg);
  background-position: center;
  background-size: cover;
  color: white;
}

.navbar {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: yellow;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border: 10px;
  outline: solid;
  outline-color: white;

}

.menu ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu ul li a {
  text-decoration: none;
  color: white;
  background-color: brown;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.menu ul li a:hover {
  background-color: white;
  color: blue;
}

.search {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search input[type="search"] {
  padding: 8px;
  border: none;
  border-radius: 4px;
}

.search button {
  padding: 8px 12px;
  border: none;
  background-color: chocolate;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.search button:hover {
  background-color: #d2691e;
}
tr td {
  color: blueviolet;
  background-color: white;
  width: 10px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
padding: 5px;
 }
h1 {
  margin-top: 80px;
  font-size: 48px;
  color: burlywood;
}

p, h2 {
  margin: 20px 0;
  color: white;
}

.action-buttons {
  margin-top: 20px;
}

.action-buttons button {
  padding: 10px 20px;
  margin-right: 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.action-buttons button:first-child {
  background-color: chocolate;
  color: white;
}

.action-buttons button:last-child {
  background-color: brown;
  color: white;
}

.container{
display: flex;
flex-direction: column;
width: 30px;
padding: 15px;
border: 1px solid;
border-radius: 4px;

}

input{
  text-align: left;
  margin: 5px 0px;
  height: 35px;
  padding: 7px;
  
}

.wrapper{
  width: 350px;
  background-color: purple;
  color: white;
  padding: 20px;
}
h3{
  padding: 10px 20px;
  margin-right: 20px;
  border-color: blue;
  box-sizing: border-box;

}
